header, nav, main, footer {
    display: block;
}

* {
    box-sizing: border-box;
}

#wrapper {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background-color: #F0F0F0;
    min-width: 700px;
}    

body {
    background-color: #5280C5;
    background-image: url(images/gradientblue.jpg);
    color: #003366;
    font-family: Verdana, Arial, sans-serif;
}

header {
    height: 100px;
    background-image: url(images/bigfish.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000066;
}

header h1 {
    text-align: center;
    color: #F0F0F0;
    font-size: 3em;
    padding: .2em;
    text-shadow: #CCCCCC;
    margin-bottom: 0px;
}

nav {
    float: left;
    font-weight: bold;
    width: 180px;
    padding: 5px;
}

nav img {
    border: none;
    padding: 10px 5px;
}

nav ul {
    list-style-type: none;
    text-decoration: none;
}

nav a:link {
    color: #000066;
}

nav a:visited {
    color: #5280C5;
}

nav a:hover {
    color: #3262a3;
}

#home {
    background-image: url(images/home.gif);
    background-repeat: no-repeat;
}

main {
    margin-left: 180px;
    padding: 0 2em;
    font-size: 1.1em;
    font-family: Georgia, serif;
    background-color: white;
    border: 1px solid #AEC3E3;
}

.category {
    font-weight: bold;
    color: #5380C5;
    font-family: Georgia, serif;
    text-shadow: 1px 1px 1px #667;
}

footer {
    font-size: .70em;
    font-style: italic;
    background-color: #AEC3E3;
    padding: 1em;
    margin-left: 180px;
}
